body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  overflow: hidden;
  touch-action: none;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

canvas {
  border: 1px solid #fff;
  background-color: #222;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.hamburger {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background: #222;
  z-index: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

#sidebar.open {
  transform: translateX(0);
}

#highScore {
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 20px;
}

#difficulty,
#snakeDesign,
#gameColor {
  width: 100%;
  color: #000;
  margin-bottom: 20px;
}

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%);
  color: #ffffff;
}

#pause-button {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
  padding: 10px;
  color: #ffffff;
  background-color: #222;
  border: none;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #sidebar {
    width: 93%vw;
  }
}
