body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  border: 1px solid #fff;
  background-color: #222;
  margin: auto;
}

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-150%);
  font-size: 1.8em;
}

#highScore {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(50%);
  font-size: 1.8em;
}

#difficulty,
#snakeDesign,
#gameColor {
  position: absolute;
  top: 10px;
  font-size: 1.2em;
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#difficulty:focus,
#snakeDesign:focus,
#gameColor:focus {
  outline: none;
}

#difficulty:hover,
#snakeDesign:hover,
#gameColor:hover {
  background-color: #555;
}

#difficulty {
  left: 10px;
}

#snakeDesign {
  left: calc(10px + 120px); /* adjust as needed */
}

#gameColor {
  left: calc(10px + 2 * 110px); /* adjust as needed */
}

